html {
  background-origin: padding-box;
  background-image:linear-gradient(135deg, pink 20%, navy 10% 30%, white 30% 30.5%, navy 30.5% 41%, black 41%, maroon 70% );
    height: 100%;
    width: 100%;
    /* background-color: rgb(172, 194, 212); */
  }
  input {
    font-size:30px;
  }
  h1 { 
    text-align: center;
  }
  
  .navBar {
      color:black;
      float: left;
      font-size:20px;
      width:auto;
      height:60px;
      text-align: center;
      text-decoration: none;
      padding-left:20px;
      padding-right:20px;
      padding-top:10px;
      padding-bottom:5px;
  }
  .navBar:hover {
      color:rgb(90, 37, 128);
      text-decoration: underline;
  }
  